@media #{$iphone_retina} {
  .single--featured {
    padding-top: 0;
  }
  .anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
  }
  .single .single__bg, .single--carousel .single__bg {
    background-attachment: inherit;
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: .3;
    will-change: transform;
    z-index: -1;
  }
  .single, .single--carousel {
    padding-top: 0px;
    position: relative;
    background: #eee;
  }
  .single .container {
    padding-right: 0;
    padding-left: 0;
  }
  .single__cover-img-wrapper img {
    height: 230px;
  }
  .single__lp {
    margin-left: 47px;
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 100%;
    color: #000;
    display: inline-block;
    font-family: "Whitney SSm A","Whitney SSm B",sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 1;
    margin-bottom: -40px;
    margin-left: 40px;
    padding-top: 15px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -40px;
  }
  .single__lp-num {
    font-size: 30px;
    font-family: "Sentinel A","Sentinel B",serif;
    font-weight: 700;
    display: block;
    line-height: 1;
    letter-spacing: normal;
  }
  .single .single__head, .single--carousel .single__head {
    position: relative;
    font-size: 18px;
    font-family: "Whitney SSm A","Whitney SSm B",sans-serif;
    margin: 0;
  }
  .single__title {
    color: #fff;
    display: block;
    font-size: 18px;
    margin: 20px 0 10px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
  .single__authors {
    font-family: "Whitney SSm A","Whitney SSm B",sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: block;
    text-align: center;
    margin: 0;
  }
  .single__author {
    margin: 0 0 5px 0;
    text-align: center;
    display: inline-block;
    margin: 0 10px 10px 10px;
  }
  .single__author-img-wrapper {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    margin-right: 10px;
  }
  .single__author-name {
    font-weight: 500;
    color: #A5DCCF;
  }
  .single__description {
    position: relative;
    text-align: center;
    font-family: "Sentinel A","Sentinel B",serif;
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
  }
  .single .single__description {
    font-size: 18px;
    padding-top: 40px;
    font-weight: normal;
  }
  .single__description::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -30px;
    width: 60px;
    border-top: 2px solid #fff;
  }
  .single__description-link, .single a.single__description-link, .single--carousel a.single__description-link {
    color: #fff;
    text-decoration: none;
  }
  .single__description p {
    font-size: 30px;
    margin-top: 30px;
  }
  .single__description-more {
    display: block;
    font-size: 30px;
    font-family: "Whitney SSm A","Whitney SSm B",sans-serif;
    font-weight: normal;
    color: #A5DCCF;
  }
  .single__actions {
    margin: 0 auto;
  }
  .single .single__actions, .single--carousel .single__actions {
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
  }
  .single .single__actions > .btn, .single--carousel .single__actions > .btn, .single .single__actions > .btn--primary, .single--carousel .single__actions > .btn--primary {
    width: 100%;
  }
  .btn {
    border-radius: 0px !important;
  }
  .single .single__bg-wrapper, .single--carousel .single__bg-wrapper {
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    position: fixed;
    top: inherit;
    bottom: 0;
  }
  .single .single__bg, .single--carousel .single__bg {
    position: absolute;
    background-attachment: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: .3;
    will-change: transform;
    z-index: -1;
  }
  .single .container, .single--carousel .container {
    position: relative;
    z-index: 2;
    width: 90%;
  }
  .single .single__cover, .single--carousel .single__cover {
    display: block;
    margin: 0 auto 55px auto;
    width: 173px;
    height: 230px;
  }
  .single__cover-img-wrapper {
    width: 173px;
    height: 230px;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
  }
  .btn, .btn.primary, .btn--primary {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    font-size: 16px;
    font-family: "Whitney SSm A","Whitney SSm B",sans-serif;
    line-height: 20px;
    display: inline-block;
    padding: 15px;
    text-align: center;
    background: #A5DCCF;
    color: #222;
    cursor: pointer;
    font-weight: 500;
    vertical-align: top;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    overflow: hidden;
    -webkit-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
  }
  .btn.primary, .primary.btn--primary, .btn--primary {
    font-size: 24px;
    font-weight: 500;
    background: #D9252A !important;
    color: #fff;
  }
  .single .single__actions > .btn {
    width: 100%;
  }
}
