@media #{$largeScreen} {
  .push-aside {
    padding-right: 300px !important;
  }
  .path-single {
    .single__bg {
      position: absolute !important;
      background-attachment: fixed !important;
    }
  }
}
