@media #{$mediumScreen} {
  .page-sidebar-wrapper.active.up-scrolled {
    margin-top: -3em;
  }
  .path-single .page-sidebar-wrapper.active {
    width: 30%;
  }
  .path-sidetone .anchor {
    top: -200px !important;
  }
}
