@media #{$mediumScreen} {
  .path-single {
    .singles-page-sidebar-wrapper.active {
      width: 30%;
    }
    .aside-content-wrapper {
      margin-top: 6em;
    }
    .singles-page-sidebar-wrapper.active.up-scrolled {
      margin-top: -3em;
    }
  }
}
