<div class="singles-page-wrapper">
  <article class="singles-page single single--featured" ng-repeat="single in singles">
    <a name="{{single.item_author_link}}" class="anchor" id="{{single.item_author_link}}"></a>
    <div class="single__bg-wrapper">
      <div class="single__bg" style="background-image: url({{single.background_image_cover}})"></div>
    </div>
      <div class="container">
        <div class="content">
          <a href="{{single.item_link}}" class="single__cover">
            <span class="single__cover-img-wrapper">
              <img bn-lazy-src="{{single.single_cover_image}}" width="360" height="480" alt="{{single.item_author_name}}: {{single.item_title}}" typeof="foaf:Image">
              <span class="single__lp"> LP
                <span class="single__lp-num"> {{single.lp_numbers}} </span>
              </span>
            </span>
          </a>
          <h3 class="single__head">
            <a href="{{single.item_link}}" class="single__title">
              <span> {{single.item_title}} </span>
            </a>
            <span class="single__authors">
              <a href="/author#{{single.item_author_link}}" class="single__author">
                <span class="single__author-img-wrapper">
                  <span class="item-wrapper">
                    <img bn-lazy-src="{{single.item_author_image}}" class="item" alt="{{single.item_author_name}}" title="{{single.item_author_name}}">
                  </span>
                </span>
                <strong class="single__author-name">{{single.item_author_name}}</strong>
              </a>
            </span>
          </h3>
          <div class="single__description">
            <a href="{{single.item_link}}" class="single__description-link">
              <p>{{single.item_description}}</p>
              <span class="single__description-more">Read More ›</span>
            </a>
          </div>

          <div class="single__actions">
            <a class="btn primary use-ajax" href="" data-dialog-type="modal">
              Osta {{single.item_price}}
            </a>
            <a href="" class="btn use-ajax" data-dialog-type="modal">
              Ryhdy tilaajaksi
            </a>
        </div>
      </div>
    </div>
  </article>
</div>
