<div class="singles-page-wrapper">
  <article class="singles-page single single--featured scrollto" ng-repeat="single in singles">
    <a name="{{single.nid}}" class="anchor" id="{{single.nid}}"></a>
    <div class="single__bg-wrapper">
      <div class="single__bg" style="background-image: url({{single.field_background_image}})"></div>
    </div>
      <div class="container">
        <div class="content">
          <a href="{{single.path}}" class="single__cover">
            <span class="single__cover-img-wrapper">
              <img bn-lazy-src="{{single.field_cover_image}}" width="360" height="480" alt="{{single.field_author}}: {{single.item_title}}" typeof="foaf:Image">
              <span class="single__lp"> LP
                <span class="single__lp-num"> {{single.field_issue_number}} </span>
              </span>
            </span>
          </a>
          <h3 class="single__head">
            <a href="{{single.path}}" class="single__title">
              <span> {{single.item_title}} </span>
            </a>
            <span class="single__authors">
              <a href="/author#{{single.nid}}" class="single__author">
                <span class="single__author-img-wrapper">
                  <span class="item-wrapper">
                    <img bn-lazy-src="{{single.field_image}}" class="item" alt="{{single.field_author}}" title="{{single.field_author}}">
                  </span>
                </span>
                <strong class="single__author-name">{{single.field_author}}</strong>
              </a>
            </span>
          </h3>
          <div class="single__description">
            <a href="{{single.path}}" class="single__description-link">
              <p>{{single.field_lead_part_1}}</p>
              <span class="single__description-more">Read More ›</span>
            </a>
          </div>

          <div class="single__actions">
            <div ng-bind-html="single.field_license | to_trusted">
            </div>
        </div>
      </div>
    </div>
  </article>
</div>
