<section class="block-section block-section--shorts shorts">
  <div class="inner">
    <h2 class="block-section__head">
  		<span class="block-section__head-primary">
        Sounds page <span class="block-section__head-secondary">, or Long Play Short</span>
  		</span>
  	  <a href="/sidetone" class="btn"> View all murmurs</a>
    </h2>
  </div>
  <div class="carousel carousel--shorts swiper-container swiper-instance-44 swiper-container-horizontal" style="cursor: -webkit-grab;">
    <div class="wrapper swiper-wrapper">
      <article class="short short--carousel node-mini node swiper-slide swiper-slide-active">
        <div class="short__head">
          <a class="short__link" href="/sidetone/kuka-puhuu-valaiden-aanella">
            <span class="short__icon"></span>
            <span class="short__date">
              On January 27, 2017
            </span>
            <div class="short__title">
              Who speaks the voice of whales?
            </div>
          </a>
        </div>
        <div class="referencing-authors">
          <div class="views-element-container">
            <div class="js-view-dom-id-759d695b803563f5ee149e01fea1630672bfc4ebf710dc1909084fc97d44a751">
              <a href="/author#ari-lahdenmaki" class="short__author node-nano node-author">
                <span class="short__author-img-wrapper">
                  <div class="author-list__img_wrapper">
                    <img src="/sites/default/files/styles/40x40/public/field_image/2016-09/Ari.jpg?itok=Fd9zLj4A" width="40" height="40" alt="" typeof="foaf:Image">
                  </div>
                </span>
                <span class="short__author-name">
                  <span>Ari Lahdenmäki</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="views-element-container">
          <div class="short__related-single">
            <a href="/single/veden-vangit" class="single">
            <span class="single__lp">
            LP
            <span class="single__lp-num">30</span>
            </span>
            <span class="single__related"> Linked to Single LP 30 </span>
            <strong class="single__title"><span>Water prisoners</span>
            </strong>
            </a>
          </div>
        </div>
      </article>
    </div>
    <div class="carousel__controls">
      <a href="#" class="carousel__prev swiper-button-prev swiper-button-prev-44 swiper-button-disabled" id="swiper-prev-shorts">&lt;</a>
      <a href="#" class="carousel__next swiper-button-next swiper-button-next-44" id="swiper-next-shorts">&gt;</a>
    </div>
  </div>
</section>
