<section class="sidetones_slider shorts">
  <div class="inner">
    <h2 class="block-section__head">
  		<span class="block-section__head-primary">
        Sounds page <span class="block-section__head-secondary">, or Long Play Short</span>
  		</span>
  	  <a href="/sidetone" class="btn"> View all murmurs</a>
    </h2>
  </div>
  <div class="sidetones" style="cursor: -webkit-grab;">
    <div class="sidetones-bxslider wrapper swiper-wrapper">
      <article ng-repeat="sidetone in sidetones" class="short short--carousel node-mini node swiper-slide swiper-slide-active">
        <div class="short__head">
          <a class="short__link" href="/sidetone/kuka-puhuu-valaiden-aanella">
            <span class="short__icon"></span>
            <span class="short__date">
              On {{sidetone.sidetone_date}}
            </span>
            <div class="short__title">
              {{sidetone.sidetone_title}}
            </div>
          </a>
        </div>
        <div class="referencing-authors">
          <a href="{{sidetone.sidetone_author_link}}" class="short__author node-nano node-author">
            <span class="short__author-img-wrapper">
              <div class="author-list__img_wrapper">
                <img src="{{sidetone.sidetone_author_image}}" width="40" height="40" alt="" typeof="foaf:Image">
              </div>
            </span>
            <span class="short__author-name">
              <span>{{sidetone.sidetone_author_name}}</span>
            </span>
          </a>
        </div>
        <div class="short__related-single">
          <a href="{{sidetone.related_single_link}}" class="single">
          <span class="single__lp">
          LP
          <span class="single__lp-num">{{sidetone.related_single_lp_number}}</span>
          </span>
          <span class="single__related"> Linked to Single LP {{sidetone.related_single_lp_number}} </span>
          <strong class="single__title"><span>{{sidetone.related_single_title}}</span>
          </strong>
          </a>
        </div>
      </article>
    </div>
    <div class="carousel__controls">
     <a href="#" class="carousel__prev swiper-button-prev swiper-button-prev-0" id="swiper-prev-singles">&lt;</a>
     <a href="#" class="carousel__next swiper-button-next swiper-button-next-0" id="swiper-next-singles">&gt;</a>
   </div>
  </div>
</section>
