<article ng-repeat="author in authors" about="/author/antti-jarvi" class="author-teaser scrollto" data-history-node-id="8" role="article">
	<a class="anchor" id="{{author.nid}}" name="{{author.nid}}"></a>
	<header class="author-list__header">
		<div class="author-list__img_wrapper">
			<img alt="" height="200" bn-lazy-src="{{author.field_image}}" typeof="foaf:Image" width="200">
		</div>
		<h2 class="author-list__author-name"><span>{{author.title}}</span></h2>
	</header>
	<div class="author-list__content hyphens">
		<p><strong>{{author.title}}</strong> {{author.body}}</p>
	</div>
	<div class="author-list__singles">
		<h2 class="author-list__singles-head">Lisää kirjoittajalta</h2>
		<section class="author-list__covers">
			<div class="related-singles-bxslider">
				<div class="wrapper swiper-wrapper">
					<article about="/single/lahto" class="authors-related-singles" data-history-node-id="294" role="article">
						<a class="single__cover" href="/single/lahto"><span class="single__cover-img-wrapper"><img alt="Tuomas Jääskeläinen: Lähtö" height="480" src="/sites/default/files/styles/360x485/public/2016-10/LP45_Lahto_768px.jpg?itok=FG5MdqUJ" typeof="foaf:Image" width="360"> <span class="single__lp">LP<span class="single__lp-num">45</span></span></span> <strong class="single__title"><span>Lähtö</span></strong></a>
					</article>
					<article about="/single/lahto" class="authors-related-singles" data-history-node-id="294" role="article">
						<a class="single__cover" href="/single/lahto"><span class="single__cover-img-wrapper"><img alt="Tuomas Jääskeläinen: Lähtö" height="480" src="/sites/default/files/styles/360x485/public/2016-10/LP45_Lahto_768px.jpg?itok=FG5MdqUJ" typeof="foaf:Image" width="360"> <span class="single__lp">LP<span class="single__lp-num">45</span></span></span> <strong class="single__title"><span>Lähtö</span></strong></a>
					</article>
				</div>
			</div>
		</section>
	</div>
</article>
