<section class="single singles_slider">
  <div class="inner">
    <h2 class="block-section__head">
      <span class="block-section__head-primary">
        Singles <span class="block-section__head-secondary">or Long Play Long</span>
      </span>
      <a href="/single" class="btn"> View all singles</a>
    </h2>
  </div>
  <div class="bxslider">
      <!-- Display singles here -->
    <article ng-repeat="single in singles" class="single-maxi single--carousel">
    		<div class="inner">
    			<div class="single__bg-wrapper">
    				<div class="single__bg" style="background-image: url({{single.cover_image}})"></div>
    			</div><span class="single__lp">LP <span class="single__lp-num">{{single.lp_number}}</span></span>
    			<h3 class="single__head"><a class="single__title" href="{{single.single_link}}"><span>{{single.single_title}}</span></a></h3>
    			<div class="single__authors">
    				<h3 class="single__head"><a class="single__author" href="{{single.single_author_link}}"><strong class="single__author-name">{{single.single_author_name}}</strong></a> </h3>
    			</div>
    			<div class="single__description">
    				<a class="single__description-link" href="{{single.single_link}}">
    				<p class="visible-mobile-up">{{single.single_mobile_up_description}}</p>
    				<p class="visible-mobile-range">{{single.single_mobile_description}}</p>
            <span class="single__description-more">Read more about&gt;</span></a>
    			</div>
    			<div class="single__actions">
    				<a class="btn primary use-ajax">Become a subscriber</a>
    			</div>
    		</div>
    		<div ng-if="single.single_related_sidetones != null" class="swiper-nested-container swiper-nested-instance-1 swiper-container-horizontal" id="swiper-295">
    			<div class="single--related-short">
    				<div ng-repeat="related_side in single.single_related_sidetones" class="sidetone node-nano node swiper-slide swiper-slide-active" style="width: 320px;">
    					<span class="short__icon"></span>
    					<div class="short__title-wrapper">
    						<div class="related-label">
    							Related Page Sounds:
    						</div><a href="{{related_side.single_sidetone_link}}">
    						<div class="short__title">
    							<span>{{related_side.single_sidetone_title}}</span>
    						</div></a>
    					</div>
    				</div>
    			</div>
    			<!-- <div class="carousel__controls-small">
    				<a class="carousel__prev swiper-button-prev swiper-button-nested-prev-1 swiper-button-disabled" href="#" id="swiper-prev-rel-295">&lt;</a> <a class="carousel__next swiper-button-next swiper-button-nested-next-1" href="#" id="swiper-next-rel-295">&gt;</a>
    			</div> -->
    		</div>
    	</article>
    <!-- <div class="carousel__controls">
      <a href="#" class="carousel__prev swiper-button-prev swiper-button-prev-0" id="swiper-prev-singles">&lt;</a>
      <a href="#" class="carousel__next swiper-button-next swiper-button-next-0" id="swiper-next-singles">&gt;</a>
    </div> -->
  </div>
</section>
