<section class="block-section block-section--singles">
  <div class="inner">
    <h2 class="block-section__head">
      <span class="block-section__head-primary">
        Singles <span class="block-section__head-secondary">or Long Play Long</span>
      </span>
      <a href="/single" class="btn"> View all singles</a>
    </h2>
  </div>
  <ul class="bxslider">
    <li><img src="/assets/img/longplay.png" /></li>
    <li><img src="/assets/img/longplay.png" /></li>
    <li><img src="/assets/img/longplay.png" /></li>
    <li><img src="/assets/img/longplay.png" /></li>
  </ul>
  <div class="carousel swiper-container swiper-instance-0 swiper-container-horizontal">
      <!-- Display singles here -->
    <article ng-repeat="single in singles" class="node single single-maxi single--carousel swiper-slide">
    		<div class="inner">
    			<div class="single__bg-wrapper">
    				<div class="single__bg" style="background-image: url({{single.cover_image}})"></div>
    			</div><span class="single__lp">LP <span class="single__lp-num">{{single.lp_number}}</span></span>
    			<h3 class="single__head"><a class="single__title" href="{{single.single_link}}"><span>{{single.single_title}}</span></a></h3>
    			<div class="single__authors">
    				<h3 class="single__head"><a class="single__author" href="{{single.single_author_link}}"><strong class="single__author-name">{{single.single_author_name}}</strong></a> </h3>
    			</div>
    			<div class="single__description">
    				<a class="single__description-link" href="{{single.single_link}}">
    				<p class="visible-mobile-up">{{single.single_mobile_up_description}}</p>
    				<p class="visible-mobile-range">{{single.single_mobile_description}}</p>
            <span class="single__description-more">Read more about&gt;</span></a>
    			</div>
    			<div class="single__actions">
    				<a class="btn primary use-ajax" data-dialog-options="{"dialogClass":"payment-modal singlepayment-modal","width":"80%","maxWidth":"800px","left":"10%"}" data-dialog-type="modal" href="/dcommerce/checkout/node/295">Buy 4,90 €</a> <a class="btn use-ajax" data-dialog-options="{"dialogClass":"payment-modal","width":"80%","maxWidth":"800px","left":"10%"}" data-dialog-type="modal" href="/dcommerce/subscription-select-page/with-node/295">Become a subscriber</a>
    			</div>
    		</div>
    		<div ng-if="single.single_related_sidetones != null" class="swiper-nested-container swiper-nested-instance-1 swiper-container-horizontal" id="swiper-295">
    			<div class="swiper-wrapper single--related-short">
    				<div class="form-item lp-user-field-group"></div>
    				<div class="form-item lp-user-field-group"></div>
    				<div ng-repeat="related_side in single.single_related_sidetones" class="sidetone node-nano node swiper-slide swiper-slide-active" style="width: 320px;">
    					<span class="short__icon"></span>
    					<div class="short__title-wrapper">
    						<div class="related-label">
    							Related Page Sounds:
    						</div><a href="{{related_side.single_sidetone_link}}">
    						<div class="short__title">
    							<span>{{related_side.single_sidetone_title}}</span>
    						</div></a>
    					</div>
    				</div>
    			</div>
    			<div class="carousel__controls-small">
    				<a class="carousel__prev swiper-button-prev swiper-button-nested-prev-1 swiper-button-disabled" href="#" id="swiper-prev-rel-295">&lt;</a> <a class="carousel__next swiper-button-next swiper-button-nested-next-1" href="#" id="swiper-next-rel-295">&gt;</a>
    			</div>
    		</div>
    	</article>
    <div class="carousel__controls">
      <a href="#" class="carousel__prev swiper-button-prev swiper-button-prev-0" id="swiper-prev-singles">&lt;</a>
      <a href="#" class="carousel__next swiper-button-next swiper-button-next-0" id="swiper-next-singles">&gt;</a>
    </div>
  </div>
</section>
