@media #{$mediumScreen} {
  .path-author {
    .nav-main__extra {
      width: 32% !important;
    }
    .anchor {
      top: -200px;
    }
    .aside-content-wrapper {
      margin-top: 6em !important;
    }
    .page-sidebar-wrapper.active {
      width: 30%;
    }
  }
}
