@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600,800");
@import "compass/utilities/sprites";
@import "compass/css3/columns";
/* @import "sprites/*.png"; */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "compass/reset";

@import "variables/**/*";
@import "components/**/*";

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
body {
  font-family: "Sentinel A","Sentinel B",serif;
  font-size: 18px;
  background: #eee;
  position: relative;
}
