@media #{$tablet} {
  /* Sidebar width from tablet
  *   -applied to all pages with this sidebar
  */
  .singles-page-sidebar-wrapper.active {
    width: 40%;
  }
  .aside-content-wrapper {
    margin-top: 5em;
    height: 950px;
  }
  .path-single {

  }
}
