@media #{$tablet} {
  .path-single {
    .singles-page {
      padding-top: 100px;
    }
    .aside-content-wrapper {
      margin-top: 5em;
    }
    .addtocart-actions .btn {
      display: block;
      width: 50%;
      float: left;
    }
    .single .container, .single--carousel .container {
      margin-top: 0px;
    }
    .main-content-wrapper.ng-scope {
      padding-top: 90px;
    }
    .single .single__cover, .single--carousel .single__cover {
      width: 150px;
      height: 200px;
    }
    .single .single__description {
      font-size: 18px;
      padding-top: 40px;
      font-weight: 700;
    }
  }
}
