<div ng-repeat="subscription in subscriptions" id="block-subscribeandjointheranks" class="info-section info-section--subscribe-lp">
  <div class="container">
    <div class="info-section__first">
      <h2 class="color-secondary-hover">Tilaa ja liity joukkoon.</h2>
      <p>
        Long Playn tilaus kuukausiveloituksella 3,90 € tai vuositilauksena 44 €. Halutessasi voit ostaa mukaan myös arkiston, eli kaikki julkaisemamme jutut.
        <a href="/opiskelija">Opiskelijatilaukset -50%</a> .
      </p>
    </div>
    <div class="info-section__second">
      <div class="info-section__actions">
        <a href="" class="btn primary use-ajax" data-dialog-type="modal" >
          Become a subscriber
        </a>
        <a href="" class="btn use-ajax" data-dialog-type="modal">
          Subscribe gift
        </a>
      </div>
    </div>
  </div>
</div>
