<div ng-repeat="subscription in subscriptions" id="block-subscribeandjointheranks" class="contextual-region info-section info-section--subscribe-lp">
  <div class="container">
    <div class="info-section__first">
      <h2 class="color-secondary-hover">{{subscription.title}}</h2>
      <p>
        {{subscription.description}}
        <a href="{{subscription.special_link}}">{{subscription.special_offer}}</a> .
      </p>
    </div>
    <div class="info-section__second">
      <div class="info-section__actions">
        <a href="/dcommerce/subscription-select-page/with-node/314" class="btn primary use-ajax" data-dialog-type="modal" data-dialog-options="{&quot;dialogClass&quot;:&quot;payment-modal&quot;,&quot;width&quot;:&quot;80%&quot;,&quot;maxWidth&quot;:&quot;800px&quot;,&quot;left&quot;:&quot;10%&quot;}"><font><font>
          Become a subscriber
        </a>
        <a href="/dcommerce/gift" class="btn use-ajax" data-dialog-type="modal" data-dialog-options="{&quot;dialogClass&quot;:&quot;order-gift-modal&quot;,&quot;width&quot;:&quot;80%&quot;,&quot;left&quot;:&quot;10%&quot;}"><font><font>
          Subscribe gift
        </a>
      </div>
    </div>
  </div>
</div>
