@media #{$mediumScreen} {
  .info-section__first h2.color-secondary-hover, .info-section__first h2 {
    font-size: 36px;
  }
  .single-maxi .single--related-short .short__title-wrapper .short__title {
    height: auto;
  }
  .singles_slider .swiper-nested-container .bx-viewport {
    height: 100px !important;
  }
  .sidetones_slider .short {
    margin-left: 15px;
  }
  .info-section__actions {
    float: right;
    margin: 0;
    width: 250px;
  }
  .block-section__head {
    font-size: 48px;
    color: #fff;
    margin: 0;
    line-height: 1;
    font-weight: 700;
  }
  .single-maxi .single__lp {
    left: -30px;
  }
}
