@media #{$extra_small} {
  .aside-content-wrapper {
    margin-top: 5em;
    height: 230px !important;
  }
  .path-single {
    a.page__aside__item.sidebar-item.ng-scope {
      width: 100% !important;
    }
  }
}
