$iphone_retina: "screen and (min-width: 320px)";
$extra_small: "screen and (min-width: 480px)";
$tablet: "screen and (min-width: 768px)";
$mediumScreen: "screen and (min-width: 992px)";
$largeScreen: "screen and (min-width: 1200px)";
