@media #{$iphone_retina} {
  .main-content-wrapper.ng-scope {
    position: relative;
    padding-top: 110px;
    z-index: 1;
  }
  .singles-page {
    padding-top: 40px;

    .single__bg-wrapper {
      position: absolute !important;
    }
    .single__cover-img-wrapper {
      width: 150px;
      height: 200px;
    }
    .single__cover-img-wrapper img {
      height: 200px;
    }
  }
}
